/* Toute la page */
body{
    background-color: #F0F3F4;
    color: black;
    font-family: "Roboto", sans-serif;
}

/* Navbar principale */
.main-navbar{
    background-color: #F700FF !important;
}

.main-navbar .main-navbar-logo{
    width: 55px;
    margin-right: 16px;
}


/* Classes génériques */
.bg-black{
    background-color: #F700FF ;
}


/* Formulaires */
.custom-file-label::after{
    content: 'Parcourir';
}


/* Menus paginations */
.pagination .page-item .page-link{
    background-color: #F700FF ;
    color: #Ffffff;
}

.pagination .page-item.disabled{
    cursor: not-allowed;
}

.pagination .page-item.disabled .page-link, .pagination .page-item.active .page-link{
    color: rgb(2, 2, 2);
}

.pagination .page-item a.page-link:hover{
    background-color: #000000;
}


/* Images des profils */
.comment-profil-photo{
    width: 84px;
    height: 84px;
}


/* Boutons admin */
.admin-button-article{
    position: absolute;
    top: 14px;
    right: 20px;
}