{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Nouvelle annonce{% endblock %}

{# Contenu de la page #}
{% block body %}

    <div class="container-fluid">

        {# Affichage des messages flashs de type "success" si il y en a #}
        {% include 'partials/flashes/success.html.twig' %}

        {# H1 #}
        <div class="row">
            <h1 class="col-12 text-center my-5">Créer une nouvelle annonce !</h1>
        </div>

        {# Formulaire de création d'un nouvel article #}
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4">
                {{ form(form) }}
            </div>
        </div>

    </div>

{% endblock %}
